#monitor{
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 8em;
}
#header-card{
    box-shadow: none;
}
#sub{
    color: green;
    letter-spacing: 2px;
    font-weight: bold;
}
#titles{
    font-size: 40px;
}
#nutrition{
    padding-top: 3em;
}
#track{
    padding-top: 10em;
}
#nutrient-card{
    color: white;
    background-color: green;
}
#food-image{
    width: auto;
    height: auto;
}