#monitor, #keto-body{
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3em;
}
#header-card{
    box-shadow: none;
}
#sub{
    color: green;
    letter-spacing: 2px;
    font-weight: bold;
}
#titles{
    font-size: 40px;
}
#nutrition{
    padding-top: 3em;
}
#track{
    /* padding-top: 10em; */
}
#nutrient-card{
    color: white;
    background-color: green;
}
#food-image{
    width: auto;
    height: auto;
}
#keto-card:hover{
    transform: scale(1.05);
    background-color: rgb(231, 238, 231);
    box-shadow: 0 0 5px 2px #068047;
}
#subt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
    font-size: 26px;
    color: green;
    font-weight: bold;
}
#keto1{
    padding-top: 4em;
}
/* responsiveness */
@media screen and (max-width: 1000px){
    #monitor, #keto-body{
        padding-top: 0%;
    }
}    
/* responsiveness */
@media screen and (max-width: 768px){
    #keto-card{
        /* width: 100%; */
        
    }
    
}