#home{
    padding-left: 6%;
    /* padding-right: %; */
    padding-top: 3em;
}
#title{
    font-size: 75px;
    color: green;
    /* font-weight: bold; */
    letter-spacing: 4px;
}
/* #text{
    font-size: 25px;
} */
#afcado{
    padding-left: 6em;
    /* float: right; */
}
#home-card{
    box-shadow: none;
}
#buto{
    background-color: rgb(141, 163, 141);
    margin-bottom: 2em;
    margin-top: 1em;
}
#but{
    background-color: rgb(89, 121, 89);   
}
#txt{
    color: white;
}
/* responsiveness */
@media (max-width: 768px) {
    #afcado{
        padding-left: 0;
    }
    #title{
        font-size: 42px;
        color: green;
        /* font-weight: bold; */
        letter-spacing: 4px;
    }
}