#eatico{
    color: green;
    font-weight: bold;
    font-size: 22px;
}
#eatic{
    color: green !important;
    font-weight: bold;
    font-size: 17px;
}
#search-results{
    padding-top: 4em;
    padding-left: 6%;
    padding-right: 6%;
}